.coin_name {
    display: flex;
    align-items: center;
    width: 70%;
    float: left;
}

.search_cont {
    width: 30%;
    float: right;
}

.coin_of_price {
    width: 50%;
    float: left;
}
.day_select {
    width: 50%;
    text-align: end;
}