.table_section {
    margin-top: -50px;
}


.coinsTable {
    width: 100%;
    max-width: 100%;
}

.coinsTable td {
    padding: 0.75rem;
    border-top: 1px solid #ffffff0c;
    vertical-align: middle;
}
  
.coinsTable thead td {
    border-top: none;
}
  
.coinsTable tbody tr td {
    cursor: pointer;
}

.coinsTable tbody tr:hover {
    background-color: #ffffff04;
    transition: var(--transition);
  }