/* Title */
.main_title span {
    font-size: 17px;
    font-weight: 400;
    color: gray;
}


/* Parameters */

.parameters {
    color: gray;
    text-align: end;
}

.par_name {
    text-align: start;
}


/* Coin List */

.coin_cont {
    text-align: end;
}

.coin_text {
    display: flex;
    text-align: start;
}
.coin_text img {
    width: 35px;
    object-fit: contain;
    margin-right: 10px;
}
.crypto_text {
    padding-top: 10px;
}
.coin_name {
    font-weight: 700;
}
.coin_name_short {
    font-weight: 400;
    color: grey;
}

.coin_cont td {
    padding-top: 30px;
}