.header_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    border: 1px solid lightgray;
    border-top: none;
}

.search_bar {
    position: relative;
    margin-top: 1rem;
}

.search_input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 1rem 3rem;
}
/* p-3 rounded-circle border-0 */
.search_btn {
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background: none;
    position: absolute;
    left: 0;
}